# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\gohti\OneDrive - Nanyang Technological University\FYP_ROS_OOD\terbuka_ood\terbuka_ood\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
